/*html,
body {
  font-size: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}*/

.body1 {
  background: url(img-blur.jpg) /*0 0 / cover*/;
 }

.img1 {
  display: none;
}

::-webkit-scrollbar { 
    display: none; 
}